*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
header {
    text-align: center;
    background: #3e95cd;
    color: #ffffff;
}
.wave {
    margin-bottom: -10px;
}
.inner-header {
    padding-top: 100px;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}